.header {
  font-family: "AlumiSans";
  background-repeat: no-repeat;
  color: #fff;
  @media (min-width: $mobile-width) {
    background-image: url('../img/back-mobile.png');
    background-size: 100%;
  }
  @media (min-width: $tablet-width) {
    background-image: url('../img/back-tablet.png');
  }
  @media (min-width: $desktop-width) {
    background-image: url('../img/back-desktop.png');
  }
  &__company{
    margin-top: 0;
  }
  a{
    color: #fff;
  }
}
