
.body {
  &__container {
    font-family: "AlumniSans", "RobotoCondensed", sans-serif;
    background-color: rgb(255, 255, 255);
    width: 100%;
    @media (min-width: $mobile-width) {
      width: 320px;
      margin: 0 auto;
    }

    @media (min-width: $tablet-width) {
      width: 768px;
      margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
      margin: 0 auto;
    }
  }
}
